@font-face {
 font-family: "FuturaDemiC";
 src: url("../assets/fonts/FuturaDemiC.ttf") format("opentype");
}

@font-face {
    font-family: "FuturaBookC";
    src: url("../assets/fonts/FuturaBookC.ttf") format("opentype");
   }