   @font-face {
    font-family: "Proxima Nova";
    src: url("../assets/fonts/ProximaNova-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FuturaBookC";
    src: url("../assets/fonts/FuturaBookC.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FuturaDemiC";
    src: url("../assets/fonts/FuturaDemiC.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FuturaMediumC";
    src: url("../assets/fonts/FuturaMediumC.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Yeseva One";
    src: url("../assets/fonts/YesevaOne.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}