@import "partials/fonts";

$gold-color: #E3B873;
$white-color: #FFFFFF;

* {
    margin: 0;
    font-size: unset;
}

html {
    max-width: 100vw;
    font-size: 10px;
    background-color: #131313;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1440px;
    
}

.header  {
    display: flex;
    align-items: center;
    line-height: 6.6rem;
    font-size: 1.4rem;
    font-family: FuturaDemiC, sans-serif;
    text-transform: uppercase;
    color: $white-color;

    &-logo {
        width: 24%;

        &-item {
            font-size: 1.4rem;
            text-align: center;
            color: $gold-color;
        }
    }
    &-nav-container {
        width: 41.1%;

        .header-nav {
            display: flex;
            justify-content: space-between;
            padding-left: 1.8%;
            list-style: none;
            font-family: FuturaBookC, sans-serif;

            &__item {
                a {
                    text-decoration:none;
                    color: $white-color;
                }

                a:hover {
                    color: $gold-color;
                }
            }

            &__item_active {
                a {
                    color: $gold-color;
                }

                a:hover {
                    color: $white-color;
                }
            }
        }
    }
    &-phone {
        width: 13.5%;
        text-align: right;

        &__item {
            text-decoration:none;
            color: $gold-color;
        }
        
    }

    &-button-container {
        padding-left: 3%;
        
        .header-button {
            width: 152%;
            font-size: 1.3rem;
            line-height: 35px;
            text-align: center;
            text-transform: uppercase;
            color: $white-color;
            background-color: $gold-color;
            border: none;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            border-radius: 2px;

            &:hover {
                color: $gold-color;
                background-color: $white-color;
                cursor: pointer;
            }
        }
        
    }
}

.instagram-banner-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 755px;
    color: $white-color;
    

    .instagram {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 5.69%;
        min-height: 580px;
        font-size: 1.4rem;
        font-family: FuturaDemiC, sans-serif;
        text-transform: uppercase;
        color: $gold-color;

        &__item {
            display: block;
            padding-right: 87%;
            text-decoration:none;
            color: $gold-color;
            transform: rotate(90deg);
        }
        
        &__vector {
            margin-top: 21%;
        }
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 94.31%;
        background-image: url("../assets/images/banner-background.jpg");
        background-repeat: no-repeat;
        
        &-info {
            &__title {
                margin: 1.5% 0 1.1% 4.5%; 
                font-size: 4rem;
                line-height: 5.3rem;
                font-family: 'Yeseva One', cursive;
                text-transform: uppercase;

                span {
                    color: $gold-color;
                }
            }

            &__item {
                margin: 0 0 3% 4.5%;    
                font-size: 2.2rem;
                line-height: 3rem;
                font-family: FuturaBookC;
            }
        }

        &-buttons {
            display: flex;
            margin-left: 4.5%; 
            font-size: 1.3rem;
            font-family: FuturaDemiC;

            &__item {
                width: 207px;
                margin-right: 1.5%;
                line-height: 4.7rem;
                color: $white-color;
                background: none;
                border: 1px solid $white-color;
                border-radius: 2px;

                &:hover {
                    background-color: $gold-color;
                    border: 1px solid $white-color;
                    cursor: pointer;
                }

                &_active {
                    background-color: $gold-color;
                    border: none;
                }
            }
        }
    }

    .banner-scroll-down {
        width: 17.15%;
        //background-color: #c4289d;
    }
}

.slider {
    display: flex;
    min-height: 660px;

    &-left-side {
        width: 41.18%;
        background-color: #e0bed8;
    }

    &-right-side {
        width: 58.82%;
        background-color: #ac709e;
    }
}